livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain_community
requests
python-dotenv
openpyxl
pygetwindow
pyautogui
psutil
pillow
opencv-python
mss
pytesseract
wikipedia
pyperclip
screen-brightness-control
pycaw
beautifulsoup4
flask
firebase-admin
librosa
feedparser
PyPDF2
python-docx
chardet
pandas
PyQt5
keyboard
plotly
statsmodels
